.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.NewArrivals h4 {
  font-weight: 400;
}
.NewArrivals span {
  color: #ad8005;
  font-size: 15px;
  font-weight: 500;
}
.NewArrivals .box img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .grid {
    grid-template-columns: 1fr;
  }
}